/*
 * Gutenberg Editor Style CSS
 *
 * Add styling for the Gutenberg Editor
 *
 * @package Donovan
 */

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Variables
2.0 - Editor
3.0 - Typography
4.0 - Blocks
5.0 - Colors
6.0 - Media Queries
7.0 - Media Queries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# 1.0 - Variables
--------------------------------------------------------------*/
 @import '_mixins';
 @import '_variables';
 
/*--------------------------------------------------------------
# 2.0 - Editor
--------------------------------------------------------------*/
body.block-editor-page .edit-post-visual-editor .editor-post-title__block,
body.block-editor-page .edit-post-visual-editor .editor-default-block-appender,
body.block-editor-page .edit-post-visual-editor .editor-block-list__block {
    max-width: 940px;
}

.edit-post-visual-editor .editor-post-title__block .editor-post-title__input {
	@include color(--title-color);
	@include font-size(20);
	@include font-family(--title-font);
	font-weight: normal;
	line-height: 1.4;
}

/*--------------------------------------------------------------
# 3.0 - Typography
--------------------------------------------------------------*/
.edit-post-visual-editor .editor-block-list__block {
	color: $textColor;
	@include font-size(15);
	@include font-family(--text-font);
	line-height: 1.75;
}

.edit-post-visual-editor .editor-block-list__block p {
	font-size: 18px;
	font-size: 1.125rem;
	margin-bottom: 1.25em;
}

.edit-post-visual-editor .editor-block-list__block a {
    @include color(--link-color);
}

.edit-post-visual-editor .editor-block-list__block .has-text-color a {
    color: inherit;
}

.edit-post-visual-editor .editor-block-list__block pre {
	overflow: auto;
	padding: 1.5em;
	border: 1px solid rgba(0,0,0,0.075);
	@include font-size(15);
	font-family: "Courier 10 Pitch", Courier, monospace;
	line-height: 1.6;
}

.edit-post-visual-editor .editor-block-list__block h1,
.edit-post-visual-editor .editor-block-list__block h2,
.edit-post-visual-editor .editor-block-list__block h3,
.edit-post-visual-editor .editor-block-list__block h4,
.edit-post-visual-editor .editor-block-list__block h5,
.edit-post-visual-editor .editor-block-list__block h6 {
	clear: both;
	margin: 1em 0 0.75em;
	line-height: 1.4;
}

.edit-post-visual-editor .editor-block-list__block h1 {
	@include font-size(32);
}

.edit-post-visual-editor .editor-block-list__block h2 {
	@include font-size(26);
}

.edit-post-visual-editor .editor-block-list__block h3 {
	@include font-size(22);
}

.edit-post-visual-editor .editor-block-list__block h4 {
	@include font-size(20);
}

.edit-post-visual-editor .editor-block-list__block h5 {
	@include font-size(19);
}

.edit-post-visual-editor .editor-block-list__block h6 {
	@include font-size(18);
}

/*--------------------------------------------------------------
# 4.0 - Blocks
--------------------------------------------------------------*/

/* Separator */
.wp-block-separator {
	margin-bottom: 1.5em;
	height: 4px;
	border: none;
	background-color: rgba(0,0,0,0.075);
}

/* Quote */
.wp-block-quote {
	margin: 0 0 1.5em;
	padding-left: 1.25em;
	border-left: 4px solid $textColor;
	color: #777;
	font-size: 18px;
	font-size: 1.125rem;
}

.wp-block-quote:not(.is-large):not(.is-style-large) {
	padding-left: 1.25em;
	border-left: 4px solid $textColor;
}

.wp-block-quote__citation,
.wp-block-quote cite,
.wp-block-quote footer {
	display: block;
	margin-top: 1em;
	color: $textColor;
	font-size: 16px;
	font-size: 1rem;
	font-style: normal;
	line-height: 1.75;
}

.wp-block-quote__citation:before,
.wp-block-quote cite:before,
.wp-block-quote footer:before {
	content: "\2014\00a0";
}

.wp-block-quote.is-style-large {
	border-left: none;
	margin: 0 0 1.5em;
	padding: 0;
	@include font-size(24);
	font-style: italic;
}

.wp-block-quote.is-style-large p {
	margin-bottom: 0.5em;
	font-size: inherit;
	font-style: inherit;
	line-height: inherit;
}

/* Pullquote */
.wp-block-pullquote {
	margin-bottom: 1.5em;
	padding: 1.5em 0;
    border-bottom: 4px solid $textColor;
    border-top: 4px solid $textColor;
}

.wp-block-pullquote blockquote {
	border-left: none;
	margin: 0;
	padding: 0;
	@include font-size(24);
}

.wp-block-pullquote blockquote p {
	margin-bottom: 0.5em;
}

.wp-block-pullquote.alignleft {
	margin-right: 1.5em;
}

.wp-block-pullquote.alignright {
	margin-left: 1.5em;
}

/* Cover */
.edit-post-visual-editor .editor-block-list__block p.wp-block-cover-text {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 2em;
	line-height: 1.25;
}

/* Table */
.wp-block-table td,
.wp-block-table th {
	padding: 0;
    border: 1px solid rgba(0,0,0,0.075);
}

.wp-block-table__cell-content {
	padding: 0.3em 0.6em;
}

/* Captions */
.blocks-gallery-caption,
.wp-block-embed figcaption,
.wp-block-image figcaption {
	margin-top: 0.5rem;
	margin-bottom: 1rem;
	@include font-size(15);
	color: rgba(0, 0, 0, 0.6);
    text-align: center;
}

/* Latest Posts */
.wp-block-latest-posts.wp-block-latest-posts__list {
	margin: 0;
	padding: 0;
}

/*--------------------------------------------------------------
# 5.0 - Colors
--------------------------------------------------------------*/
@import 'setup/colors';

/*--------------------------------------------------------------
# 6.0 - Media Queries
--------------------------------------------------------------*/
@media only screen and (min-width: 20em) {
	.edit-post-visual-editor .editor-block-list__block,
	.edit-post-visual-editor .editor-block-list__block p {
		@include font-size(16);
	}

	.edit-post-visual-editor .editor-post-title__block .editor-post-title__input {
		@include font-size(22);
	}
}

@media only screen and (min-width: 30em) {
	.edit-post-visual-editor .editor-post-title__block .editor-post-title__input {
		@include font-size(24);
	}
}

@media only screen and (min-width: 40em) {
	.edit-post-visual-editor .editor-block-list__block,
	.edit-post-visual-editor .editor-block-list__block p {
		@include font-size(17);
	}

	.edit-post-visual-editor .editor-post-title__block .editor-post-title__input {
		@include font-size(28);
	}
}

@media only screen and (min-width: 50em) {
    .edit-post-visual-editor .editor-post-title__block .editor-post-title__input {
        @include font-size(32);
    }
}

@media only screen and (min-width: 90em) {
	.edit-post-visual-editor .editor-block-list__block,
	.edit-post-visual-editor .editor-block-list__block p {
		@include font-size(18);
	}
	
	.edit-post-visual-editor .editor-post-title__block .editor-post-title__input {
		@include font-size(36);
	}
}

/*--------------------------------------------------------------
# - 7.0 Plugins
--------------------------------------------------------------*/
@import 'plugins/magazine-blocks-editor';
