@media only screen and (min-width: 20em) {
	body,
	button,
	input,
	select,
	textarea {
		@include font-size(16);
	}

	.site-title {
		@include font-size(36);
	}

	.entry-title {
		@include font-size(22);
	}

	.alignleft {
		float: left;
		margin-right: 1.5rem;
	}

	.alignright {
		float: right;
		margin-left: 1.5rem;
	}
}
