/* Post Navigation */
.post-navigation {
	margin: 0;
	padding: 0;
}

.post-navigation .nav-links .nav-previous,
.post-navigation .nav-links .nav-next {
	margin: 0;
	padding: 1.5em;
	max-width: 100%;
	word-wrap: break-word;
	@include background(--page-background-color);
	box-sizing: border-box;
	border-bottom: 1px solid;
	@include border-color(--page-border-color);
}

.post-navigation .nav-links .nav-next {
	text-align: right;
}

/* Post Navigation Link Styling */
.post-navigation .nav-links a:link,
.post-navigation .nav-links a:visited {
	text-decoration: none;
}

.post-navigation .nav-links .entry-title {
	@include font-size(18);
}

.post-navigation .nav-links a:hover .entry-title,
.post-navigation .nav-links a:active .entry-title {
	text-decoration: underline;
}

.post-navigation .nav-links .nav-link-text {
	display: block;
	@include color(--light-text-color);
}

.post-navigation .nav-links .nav-previous .nav-link-text:before {
	margin-right: 5px;
	content: "\2190";
}

.post-navigation .nav-links .nav-next .nav-link-text:after {
	margin-left: 5px;
	content: "\2192";
}
