/*
 * Gutenberg Editor Style CSS
 *
 * Add styling for the Gutenberg Editor
 *
 * @package Donovan
 */

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Variables
2.0 - Editor
3.0 - Typography
4.0 - Blocks
5.0 - Colors
6.0 - Media Queries
7.0 - Media Queries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# 1.0 - Variables
--------------------------------------------------------------*/
:root {
	--link-color: #ee1133;
	--button-color: #ee1133;
	--button-text-color: #fff;
	--button-hover-color: #D5001A;
	--button-hover-text-color: #fff;
	--title-color: #202020;
	--navi-color: #202020;
	--navi-text-color: #fff;
	--navi-hover-text-color: rgba(255, 255, 255, 0.5);
	--navi-border-color: rgba(255, 255, 255, 0.05);
	--submenu-color: #ee1133;
	--submenu-text-color: #fff;
	--submenu-hover-text-color: rgba(255, 255, 255, 0.5);
	--submenu-border-color: rgba(255, 255, 255, 0.075);
	--footer-color: #202020;
	--footer-text-color: #fff;
	--footer-hover-text-color: rgba(255, 255, 255, 0.5);
	--footer-border-color: rgba(255, 255, 255, 0.035);
	--text-font: Raleway, Arial, Helvetica;
	--title-font: Quicksand, Tahoma, Arial;
	--navi-font: Quicksand, Tahoma, Arial;
	--widget-title-font: Quicksand, Tahoma, Arial;
	--tz-column-gap: 1.5rem;
}

/*--------------------------------------------------------------
# 2.0 - Editor
--------------------------------------------------------------*/
body.block-editor-page .edit-post-visual-editor .editor-post-title__block,
.wp-block {
	max-width: 940px;
}

.edit-post-visual-editor .editor-post-title__block .editor-post-title__input {
	color: #202020;
	color: var(--title-color);
	font-size: 20px;
	font-size: 1.25rem;
	font-family: Quicksand, Tahoma, Arial;
	font-family: var(--title-font);
	font-weight: normal;
	line-height: 1.4;
}

/*--------------------------------------------------------------
# 3.0 - Typography
--------------------------------------------------------------*/
.editor-styles-wrapper > * {
	color: #202020;
	font-size: 15px;
	font-size: 0.9375rem;
	font-family: Raleway, Arial, Helvetica;
	font-family: var(--text-font);
	line-height: 1.75;
}

.editor-styles-wrapper .wp-block p {
	font-size: 18px;
	font-size: 1.125rem;
	margin-bottom: 1.25em;
}

.editor-styles-wrapper a {
	color: #ee1133;
	color: var(--link-color);
}

.editor-styles-wrapper .has-text-color a {
	color: inherit;
}

.editor-styles-wrapper pre {
	overflow: auto;
	padding: 1.5em;
	border: 1px solid rgba(0, 0, 0, 0.075);
	font-size: 15px;
	font-size: 0.9375rem;
	font-family: "Courier 10 Pitch", Courier, monospace;
	line-height: 1.6;
}

.editor-styles-wrapper .wp-block h1,
.editor-styles-wrapper .wp-block h2,
.editor-styles-wrapper .wp-block h3,
.editor-styles-wrapper .wp-block h4,
.editor-styles-wrapper .wp-block h5,
.editor-styles-wrapper .wp-block h6 {
	clear: both;
	margin: 1em 0 0.75em;
	line-height: 1.4;
}

.editor-styles-wrapper .wp-block h1 {
	font-size: 32px;
	font-size: 2rem;
}

.editor-styles-wrapper .wp-block h2 {
	font-size: 26px;
	font-size: 1.625rem;
}

.editor-styles-wrapper .wp-block h3 {
	font-size: 22px;
	font-size: 1.375rem;
}

.editor-styles-wrapper .wp-block h4 {
	font-size: 20px;
	font-size: 1.25rem;
}

.editor-styles-wrapper .wp-block h5 {
	font-size: 19px;
	font-size: 1.1875rem;
}

.editor-styles-wrapper .wp-block h6 {
	font-size: 18px;
	font-size: 1.125rem;
}

/*--------------------------------------------------------------
# 4.0 - Blocks
--------------------------------------------------------------*/

/* Separator */
.wp-block-separator {
	margin-bottom: 1.5em;
	height: 4px;
	border: none;
	background-color: rgba(0, 0, 0, 0.075);
}

/* Quote */
.wp-block-quote {
	margin: 0 0 1.5em;
	padding-left: 1.25em;
	border-left: 4px solid #202020;
	color: #777;
	font-size: 18px;
	font-size: 1.125rem;
}

.wp-block-quote:not(.is-large):not(.is-style-large) {
	padding-left: 1.25em;
	border-left: 4px solid #202020;
}

.wp-block-quote__citation,
.wp-block-quote cite,
.wp-block-quote footer {
	display: block;
	margin-top: 1em;
	color: #202020;
	font-size: 16px;
	font-size: 1rem;
	font-style: normal;
	line-height: 1.75;
}

.wp-block-quote__citation:before,
.wp-block-quote cite:before,
.wp-block-quote footer:before {
	content: "\2014\00a0";
}

.wp-block-quote.is-style-large {
	border-left: none;
	margin: 0 0 1.5em;
	padding: 0;
	font-size: 24px;
	font-size: 1.5rem;
	font-style: italic;
}

.wp-block-quote.is-style-large p {
	margin-bottom: 0.5em;
	font-size: inherit;
	font-style: inherit;
	line-height: inherit;
}

/* Pullquote */
.wp-block-pullquote {
	margin-bottom: 1.5em;
	padding: 1.5em 0;
	border-bottom: 4px solid #202020;
	border-top: 4px solid #202020;
}

.wp-block-pullquote blockquote {
	border-left: none;
	margin: 0;
	padding: 0;
	font-size: 24px;
	font-size: 1.5rem;
}

.wp-block-pullquote blockquote p {
	margin-bottom: 0.5em;
}

.wp-block-pullquote.alignleft {
	margin-right: 1.5em;
}

.wp-block-pullquote.alignright {
	margin-left: 1.5em;
}

/* Cover */
.editor-styles-wrapper p.wp-block-cover-text {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 2em;
	line-height: 1.25;
}

/* Table */
.wp-block-table td,
.wp-block-table th {
	padding: 0;
	border: 1px solid rgba(0, 0, 0, 0.075);
}

.wp-block-table__cell-content {
	padding: 0.3em 0.6em;
}

/* Captions */
.blocks-gallery-caption,
.wp-block-embed figcaption,
.wp-block-image figcaption {
	margin-top: 0.5rem;
	margin-bottom: 1rem;
	font-size: 15px;
	font-size: 0.9375rem;
	color: rgba(0, 0, 0, 0.6);
	text-align: center;
}

/* Latest Posts */
.wp-block-latest-posts.wp-block-latest-posts__list {
	margin: 0;
	padding: 0;
}

/*--------------------------------------------------------------
# 5.0 - Colors
--------------------------------------------------------------*/

/* Text Colors */
.has-primary-color {
	color: #ee1133;
	color: var(--link-color);
}

.has-white-color {
	color: #ffffff;
}

.has-light-gray-color {
	color: #f2f2f2;
}

.has-dark-gray-color {
	color: #666666;
}

.has-black-color {
	color: #202020;
}

/* Background Colors */
.has-primary-background-color {
	background-color: #ee1133;
	background-color: var(--link-color);
}

.has-white-background-color {
	background-color: #ffffff;
}

.has-light-gray-background-color {
	background-color: #f2f2f2;
}

.has-dark-gray-background-color {
	background-color: #666666;
}

.has-black-background-color {
	background-color: #202020;
}

/*--------------------------------------------------------------
# 6.0 - Media Queries
--------------------------------------------------------------*/
@media only screen and (min-width: 20em) {
	.editor-styles-wrapper > *,
	.editor-styles-wrapper .wp-block p {
		font-size: 16px;
		font-size: 1rem;
	}

	.edit-post-visual-editor .editor-post-title__block .editor-post-title__input {
		font-size: 22px;
		font-size: 1.375rem;
	}
}

@media only screen and (min-width: 30em) {
	.edit-post-visual-editor .editor-post-title__block .editor-post-title__input {
		font-size: 24px;
		font-size: 1.5rem;
	}
}

@media only screen and (min-width: 40em) {
	.editor-styles-wrapper > *,
	.editor-styles-wrapper .wp-block p {
		font-size: 17px;
		font-size: 1.0625rem;
	}

	.edit-post-visual-editor .editor-post-title__block .editor-post-title__input {
		font-size: 28px;
		font-size: 1.75rem;
	}
}

@media only screen and (min-width: 50em) {
	.edit-post-visual-editor .editor-post-title__block .editor-post-title__input {
		font-size: 32px;
		font-size: 2rem;
	}
}

@media only screen and (min-width: 90em) {
	.editor-styles-wrapper > *,
	.editor-styles-wrapper .wp-block p {
		font-size: 18px;
		font-size: 1.125rem;
	}

	.edit-post-visual-editor .editor-post-title__block .editor-post-title__input {
		font-size: 36px;
		font-size: 2.25rem;
	}
}

/*--------------------------------------------------------------
# - 7.0 Plugins
--------------------------------------------------------------*/

/* Styling for ThemeZee Magazine Blocks */
.edit-post-visual-editor .tz-magazine-block .tz-entry-image {
	margin-bottom: 0.5em;
}

.edit-post-visual-editor .tz-magazine-block .tz-entry-title {
	margin-top: 0;
	margin-bottom: 0.2em;
	padding: 0;
	color: #202020;
	color: var(--title-color);
	font-size: 24px;
	font-size: 1.5rem;
	font-family: Quicksand, Tahoma, Arial;
	font-family: var(--title-font);
	font-weight: normal;
	line-height: 1.4;
}

.edit-post-visual-editor .tz-magazine-block .tz-entry-title a:link,
.edit-post-visual-editor .tz-magazine-block .tz-entry-title a:visited {
	color: #202020;
	color: var(--title-color);
	text-decoration: none;
}

.edit-post-visual-editor .tz-magazine-block .tz-entry-title a:hover,
.edit-post-visual-editor .tz-magazine-block .tz-entry-title a:active {
	text-decoration: underline;
}

.edit-post-visual-editor .tz-magazine-block .tz-magazine-grid-columns-3 .tz-entry-title {
	font-size: 20px;
	font-size: 1.25rem;
}

.edit-post-visual-editor .tz-magazine-block .tz-magazine-grid-columns-4 .tz-entry-title,
.edit-post-visual-editor .tz-magazine-block .tz-magazine-thumbnail-list .tz-entry-title {
	font-size: 18px;
	font-size: 1.125rem;
}

.edit-post-visual-editor .tz-magazine-block .tz-entry-meta {
	margin: 0.5em 0;
	color: rgba(0, 0, 0, 0.5);
	font-size: 15px;
	font-size: 0.9375rem;
}

.edit-post-visual-editor .tz-magazine-block .tz-entry-meta .tz-meta-field {
	margin-right: 1rem;
}

.edit-post-visual-editor .tz-magazine-block .tz-entry-meta a:link,
.edit-post-visual-editor .tz-magazine-block .tz-entry-meta a:visited {
	color: rgba(0, 0, 0, 0.5);
	border-bottom: 1px dotted rgba(0, 0, 0, 0.15);
	text-decoration: none;
}

.edit-post-visual-editor .tz-magazine-block .tz-entry-meta a:hover,
.edit-post-visual-editor .tz-magazine-block .tz-entry-meta a:active {
	color: #202020;
	text-decoration: none;
}

.edit-post-visual-editor .tz-magazine-block .tz-entry-content {
	margin-top: 1em;
	font-size: 17px;
	font-size: 1.0625rem;
}

.edit-post-visual-editor .tz-magazine-block .tz-entry-content p {
	font-size: 17px;
	font-size: 1.0625rem;
}

.edit-post-visual-editor .tz-magazine-block .tz-more-link {
	display: inline-block;
	margin: 0;
	padding: 0.5em 1em;
	color: #fff;
	color: var(--button-text-color);
	background-color: #ee1133;
	background-color: var(--button-color);
	font-size: 15px;
	font-size: 0.9375rem;
}

.edit-post-visual-editor .tz-magazine-block .tz-more-link:link,
.edit-post-visual-editor .tz-magazine-block .tz-more-link:visited {
	color: #fff;
	color: var(--button-text-color);
	text-decoration: none;
}

.edit-post-visual-editor .tz-magazine-block .tz-more-link:hover,
.edit-post-visual-editor .tz-magazine-block .tz-more-link:active {
	color: #fff;
	color: var(--button-hover-text-color);
	background-color: #D5001A;
	background-color: var(--button-hover-color);
	text-decoration: none;
}
