/* Group Block */
.wp-block-group.has-background {
	> .wp-block-group__inner-container > .wp-block:last-of-type {
		margin-bottom: 0;
	}
}

/* Columns Block */
.editor-styles-wrapper div.wp-block-columns {
	gap: 1.5rem;
}

@media only screen and (min-width: 960px) {
	.editor-styles-wrapper div.wp-block-columns {
		gap: 2rem;
	}
}
