@media only screen and (min-width: 25em) {
	.container {
		padding-left: 1rem;
		padding-right: 1rem;
	}

	.primary-navigation-container {
		padding: 0;
	}

	.site-header,
	.widget,
	.page-header,
	.site-main > article,
	.post-wrapper > article,
	.type-post,
	.type-page,
	.type-attachment,
	.comment,
	.comments-title,
	.comment-navigation,
	.comment-respond,
	.post-navigation .nav-links .nav-previous,
	.post-navigation .nav-links .nav-next,
	.pagination,
	.infinite-scroll #infinite-handle span {
		margin-bottom: 1rem;
		border-bottom: none;
	}

	.pagination,
	.infinite-scroll #infinite-handle,
	.infinite-scroll .infinite-loader {
		padding: 0;
		background: none;
		border-bottom: none;
	}

	.pagination .page-numbers,
	.pagination .current {
		padding: 0.35rem 1rem;
		margin-right: 0.5rem;
	}

	.site-footer .site-info {
		padding-left: 0;
		padding-right: 0;
	}
}

@media only screen and (min-width: 40em) {
	.container {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}

	.primary-navigation-container {
		padding: 0;
	}

	.site-header,
	.widget,
	.archive-header,
	.site-main > article,
	.post-wrapper > article,
	.type-post,
	.type-page,
	.type-attachment,
	.comment,
	.comments-title,
	.comment-navigation,
	.comment-respond,
	.pagination,
	.infinite-scroll #infinite-handle span {
		margin-bottom: 1.5rem;
	}

	/* Post Navigation */
	.post-navigation .nav-links {
		display: grid;
		grid-template-columns: 1fr;
		grid-auto-columns: 1fr;
		grid-column-gap: 1.5rem;
	}

	.post-navigation .nav-links .nav-previous,
	.post-navigation .nav-links .nav-next {
		margin-bottom: 1.5rem;
		grid-row: 1;
	}

	/* Blog: List Layout */
	.blog-list-layout .content-archive .post-wrapper .has-post-thumbnail {
		display: grid;
		grid-template-columns: 42% auto;
	}

	.blog-list-layout.post-thumbnails-hidden .content-archive .post-wrapper .has-post-thumbnail {
		display: block;
	}

	.blog-list-layout .content-archive .post-wrapper .has-post-thumbnail .wp-post-image {
		margin: 0;
		padding-right: 1.5em;
	}

	.blog-list-layout .content-archive .post-wrapper .has-post-thumbnail .entry-footer {
		grid-row: 2;
		grid-column: 1 / span 2;
		max-width: 100%;
	}

	/* Blog: Grid Layout */
	.blog-grid-layout .content-archive .post-wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
		grid-gap: 1.5rem;
		margin: 0 0 1.5rem;
	}

	.blog-grid-layout .content-archive .post-wrapper .type-post {
		margin: 0;
	}
}

/* CSS Grid Fallback for Internet Explorer */
@media only screen and (min-width: 40em) and (-ms-high-contrast: none), (-ms-high-contrast: active) {

	/* Post Navigation */
	.post-navigation .nav-links {
		display: flex;
		margin-bottom: 1.5rem;
	}

	.post-navigation .nav-links .nav-previous,
	.post-navigation .nav-links .nav-next {
		margin: 0;
		width: 50%;
	}

	/* Blog: List Layout */
	.blog-list-layout .content-archive .post-wrapper .has-post-thumbnail {
		display: flex;
		flex-flow: row wrap;
	}

	.blog-list-layout.post-thumbnails-hidden .content-archive .post-wrapper .has-post-thumbnail {
		display: block;
	}

	.blog-list-layout .content-archive .post-wrapper .has-post-thumbnail .post-image {
		width: 42%;
	}

	.blog-list-layout .content-archive .post-wrapper .has-post-thumbnail .post-content {
		width: 58%;
	}

	.blog-list-layout .content-archive .post-wrapper .has-post-thumbnail .entry-footer {
		width: 100%;
	}

	/* Blog: Grid Layout */
	.blog-grid-layout .content-archive .post-wrapper {
		display: flex;
		flex-flow: row wrap;
		margin: 0 -3% 0 0;
	}

	.blog-grid-layout .content-archive .post-wrapper .type-post {
		margin-bottom: 1.5rem;
		margin-right: 3%;
		width: 47%;
	}
}

@media only screen and (min-width: 55em) {
	@supports ( display: grid ) {
		.site-content {
			display: grid;
			grid-template-columns: 7fr 3fr;
			grid-column-gap: 1.5rem;
		}

		.content-area {
			box-sizing: border-box;
			grid-row-start: 2;
			grid-column-start: 1;
			min-width: 0;
		}

		.sidebar {
			grid-row-start: 2;
			grid-column-start: 2;
			box-sizing: border-box;
			margin: 0;
			padding: 0;
			border: none;
			min-width: 0;
		}
	}

	/* Header */
	.header-main {
		position: relative;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		text-align: left;
	}

	.header-social-menu {
		display: flex;
		margin-top: 0;
		margin-left: auto;
		align-items: center;
	}

	.site-footer .site-info {
		text-align: left;
	}
}

/* CSS Grid Fallback for Internet Explorer */
@media only screen and (min-width: 55em) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.site-content {
		display: flex;
	}

	.no-sidebar .site-content {
		display: block;
	}

	.content-area {
		width: 70%;
		box-sizing: border-box;
		padding-right: 0.75rem;
	}

	.sidebar {
		width: 30%;
		box-sizing: border-box;
		padding-left: 0.75rem;
	}
}

@media only screen and (min-width: 75em) {
	.header-main {
		padding-top: 2em;
		padding-bottom: 2em;
	}
}
