/* Archives and Search Heading */
.archive-header {
	margin: 0 0 1rem;
	padding: 1.5rem;
	max-width: 100%;
	word-wrap: break-word;
	@include background(--page-background-color);
}

.archive-title {
	margin: 0;
	padding: 0;
	@include color(--widget-title-color);
	@include font-size(18);
	@include font-family(--widget-title-font);
	@include font-weight(--widget-title-font-weight);
	@include text-transform(--widget-title-text-transform);
	@include line-height(--title-line-height);
}

.blog-description,
.archive-description,
.archive-description p {
	margin: 0.25em 0 0;
}

.archive-header .search-form {
	margin: 1.25rem 0 0;
}
